body {
  background-color: #caf0f8;
}
#welcome {
  display: flex;
  justify-content: center;
  color: #03045e;
}
#chord, #spanishChord {
  background-color: #03d4fe;
}
#chord:hover, #spanishChord:hover {
  background-color: #caf0f8;
}
#view-like1, #view-like2, #view-like3, #view-like4, #view-like5, #view-like6, #view-like7, #view-like8, #view-like9, #view-like10{
  background-color: #03d4fe;
}
#view-like1:hover, #view-like2:hover, #view-like3:hover, #view-like4:hover, #view-like5:hover, #view-like6:hover, #view-like7:hover, #view-like8:hover, #view-like9:hover, #view-like10:hover{
  background-color: #caf0f8;
}
#play1, #play2, #play3, #play4, #play5, #play6, #play7, #play8, #play9, #play10 {
  background-color: #03d4fe;
}
#play1:hover, #play2:hover, #play3:hover, #play4:hover, #play5:hover, #play6:hover, #play7:hover, #play8:hover, #play9:hover, #play10:hover {
  background-color: #caf0f8;
}
#songSort, #authorSort, #save{
  background-color:#03045e;
  color:white;
}
#songSort:hover, #authorSort:hover, #save:hover {
  background-color: #4a4cbf;
}
.stars-outer {
    position: relative;
    display: inline-block;
}
  
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
  
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}
  
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f7d53e;
}