body {
  background-color: #caf0f8;
}
#songInfo {
  color:#03045e;
}
#songInfo {
  display: flex;
  justify-content: center;
  color: #03045e;
}
#genre {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: white;
  color:blue;
}
#chord, #spanishChord, #likes, #play, #info {
  background-color: #03d4fe;
}
#chord:hover, #spanishChord:hover, #likes:hover, #play:hover {
  background-color: #caf0f8;
}
#myTable {
  background-color: white;
  padding-right: 5px;
  border:#03045e;
}